.Description{
    background-color: aqua;    
    width: 110%;
    border-radius: 4px;
     position: relative;   /* mets au premier plan */
}

.DescriptionType2{
    background-color: rgb(242, 0, 255);    
    width: 110%;
    border-radius: 4px;
    margin-left: -10%;
    padding: 1.5ch;

}