.NavBarContact {
    border: solid #8c80ff 5px;
    color: #8c80ff;

    border-radius: 20px;
    padding: 6px;
    padding-inline: 10px;

    /* Animation flèche */
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  
  
    &:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 4.5px;
    };
  
    &:hover {
        background-color: #bab2fc;
       
        padding-right: 25px;
        padding-left:10px;
    };
    &:hover:after {
        opacity: 1;
        right: 10px;
      }
};


